## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.dbmdl
*.jfm
launchSettings.json

## Rider
.idea/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## MSIX
AppPackages/
BundleArtifacts/
